In [1]:
#Dependencies:  
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import time
import pandas as pd

Mars Facts Table

In [2]:
#Mars Facts
url = 'https://space-facts.com/mars/'

In [3]:
tables = pd.read_html(url)

In [4]:
type(tables)

list

In [5]:
tables[1]

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [6]:
mars_df = tables[0]
mars_df.columns = ['Data','Mars Facts']
mars_df

                   Data                     Mars Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [7]:
mars_df.set_index('Data', inplace=True)
mars_df

                                         Mars Facts
Data
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [8]:
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Facts</th>\n    </tr>\n    <tr>\n      <th>Data</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [9]:
mars_df.to_html('mars_table.html')

Website Scrapping

In [28]:
#def init_browser():
    # TODO:  Addd def into 
executable_path = {"executable_path": "chromedriver"}
    #return 
feature = Browser("chrome", **executable_path, headless=False)

JLP - Mars Space Images - Featured Image

In [29]:
#JPL Mars Space Images - Featured Image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
feature.visit(url)

In [30]:
time.sleep(1)

In [31]:
full_image_elem = feature.find_by_id('full_image')
full_image_elem.click()

In [32]:
feature.is_element_present_by_text('more info', wait_time=1)
more_info_elem = feature.links.find_by_partial_text('more info')
more_info_elem.click()

In [33]:
#Will need to duplicate this block of code whenever you want to inspect a page.
html = feature.html
soup = BeautifulSoup(html, "html.parser")

In [34]:
#feature_img = soup.find("img", {"class":"fancybox-img"}).get("src")
feature_img = soup.select_one("figure.lede a img").get("src")

feature_img

'/spaceimages/images/largesize/PIA18182_hires.jpg'

NASA Mars News

In [35]:
#Collecting the mars news form nasa.gov.
url2 = 'https://mars.nasa.gov/news/'
feature.visit(url2)

In [36]:
time.sleep(1)

In [37]:
html = feature.html
soup = BeautifulSoup(html, "html.parser")
headlines = soup.select_one('ul.item_list li.slide')

In [38]:
headlines.find("div", class_='content_title')

In [39]:
news_title = headlines.find("div", class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Is Midway to Mars "

In [40]:
article_teaser = headlines.find("div", class_='article_teaser_body').get_text()
article_teaser

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

#Mars Hemispheres

In [41]:
url3 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&kl-targets&v1=mars'
feature.visit(url3)
time.sleep(2)

In [42]:
html = feature.html
soup = BeautifulSoup(html, "html.parser")

In [43]:
#cerberus_hemisphere = feature.find_by_id('product-selection') 
#cerberus_hemisphere = soup.find('id', class_='product-section')
links_found = feature.links.find_by_partial_href('/search/map/Mars/Viking/')
#cerberus_hemisphere = feature.find_by_id('product-section')
#cerberus_hemisphere = soup.find_all("div", class_="product-content")
#cerberus_hemisphere.click()
print(links_found)

<splinter.element_list.ElementList object at 0x00000236DF6ACE10>

In [44]:
hemispheres = soup.find_all('h3')
#hemispheres = soup.findAll("a", {"class": "itemLink product-item"})
baseUrl = 'https://astrogeology.usgs.gov'
#hemisphere_text = ''
hemisphere_info = []

#for hemisphere in hemispheres:
     #print(hemisphere.text)
 #    hemisphere_text +=  hemisphere.text + " "
# print(hemisphere_text)
 #mars_data["hemisphere_text"] = hemisphere_text
counter = 0

#imgUrl = ''



for a in soup.find_all('a', {'class':'itemLink'}):
    counter = counter + 1
    hemisphereurl = baseUrl + a['href']
    if counter % 2 == 0:
        #print (hemisphereurl)
        #imgUrl += hemisphereurl + " "
        feature.visit(hemisphereurl)
        time.sleep(2)
        
        html = feature.html
        soup2 = BeautifulSoup(html, "html.parser")
        
        hemi_info = {}
        
        
        hemisphere_name = soup2.find("h2", {"class":"title"}).text
        print(hemisphere_name)
        
        hemi_info["title"] = hemisphere_name
        
        #full_image_elem = feature.find_by_id('wide-image-toggle')
        #full_image_elem.click()
        divs = feature.find_by_tag("img")#[class='wide-image']
        matches = soup2.find("img", {"class":"wide-image"}).get("src")
        print(baseUrl + matches)
        hemi_url = baseUrl + matches
        hemi_info["url"] = hemi_url
        #soup.findAll("div", {"class": "stylelistrow"})
        #within_elements = divs.first.find_by_id("wide-image")
        #print(within_elements['src'])
        #imageTags = soup.find_all('h3') 
#         for match in matches:
        hemisphere_info.append(hemi_info)   
#             #if div[class='wide-image']
#             #browser.find_by_css('.content').first.has_class('wide-image')
#             imgUrl = baseUrl + match['src']
#             print(imgUrl)
#             #print(div['content'])
            
        feature.back()
        time.sleep(2)
#print(imgUrl)
print(hemisphere_info)

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
[{'title': 'Cerberus Hemisphere Enhanced', 'url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]