In [91]:
#Dependencies:  
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import time
import pandas as pd

Mars Facts Table

In [92]:
#Mars Facts
url = 'https://space-facts.com/mars/'

In [93]:
tables = pd.read_html(url)

In [94]:
type(tables)

list

In [95]:
tables[1]

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [96]:
mars_df = tables[0]
mars_df.columns = ['Data','Mars Facts']
mars_df

                   Data                     Mars Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [97]:
mars_df.set_index('Data', inplace=True)
mars_df

                                         Mars Facts
Data
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [98]:
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Facts</th>\n    </tr>\n    <tr>\n      <th>Data</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [100]:
mars_df.to_html('mars_table.html')

Website Scrapping

In [66]:
#def init_browser():
    # TODO:  Addd def into 
executable_path = {"executable_path": "../chromedriver"}
    #return 
feature = Browser("chrome", **executable_path, headless=False)

JLP - Mars Space Images - Featured Image

In [67]:
#JPL Mars Space Images - Featured Image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
feature.visit(url)

In [68]:
time.sleep(1)

In [69]:
feature.click_link_by_id('full_image')

In [ ]:
#Will need to duplicate this block of code whenever you want to inspect a page.
html = feature.html
soup = BeautifulSoup(html, "html.parser")

In [71]:
mars_image = soup.find_all('img')[0]['src']
mars_full_image = url + mars_image

NASA Mars News

In [83]:
#Collecting the mars news form nasa.gov.
url2 = 'https://mars.nasa.gov/news/'
feature.visit(url2)

In [84]:
time.sleep(1)

In [85]:
for x in range (1):
    html = feature.html
    soup = BeautifulSoup(html, "html.parser")
    headlines = soup.find('div', class_='content_title')

In [90]:
for headline in headlines:
    content_title = headline.find('div', class_='content_title')
    paragraph = headline.find('div', class_='artile_teaser_body')

    except:
        print("Scraping Complete")

SyntaxError: invalid syntax (<ipython-input-90-14c803cc2abd>, line 5)

Mars Hemispheres