In [151]:
#Dependencies:  
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import time
import pandas as pd

Mars Facts Table

In [152]:
#Mars Facts
url = 'https://space-facts.com/mars/'

In [153]:
tables = pd.read_html(url)

In [154]:
type(tables)

list

In [155]:
tables[1]

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [156]:
mars_df = tables[0]
mars_df.columns = ['Data','Mars Facts']
mars_df

                   Data                     Mars Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [157]:
mars_df.set_index('Data', inplace=True)
mars_df

                                         Mars Facts
Data
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [158]:
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Facts</th>\n    </tr>\n    <tr>\n      <th>Data</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [159]:
mars_df.to_html('mars_table.html')

Website Scrapping

In [160]:
#def init_browser():
    # TODO:  Addd def into 
executable_path = {"executable_path": "../chromedriver"}
    #return 
feature = Browser("chrome", **executable_path, headless=False)

JLP - Mars Space Images - Featured Image

In [161]:
#JPL Mars Space Images - Featured Image
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
feature.visit(url)

In [162]:
time.sleep(1)

In [163]:
full_image_elem = feature.find_by_id('full_image')
full_image_elem.click()

In [164]:
feature.is_element_present_by_text('more info', wait_time=1)
more_info_elem = feature.links.find_by_partial_text('more info')
more_info_elem.click()

In [165]:
#Will need to duplicate this block of code whenever you want to inspect a page.
html = feature.html
soup = BeautifulSoup(html, "html.parser")

In [166]:
img_url_rel = soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA20263_hires.jpg'

NASA Mars News

In [167]:
#Collecting the mars news form nasa.gov.
url2 = 'https://mars.nasa.gov/news/'
feature.visit(url2)

In [168]:
time.sleep(1)

In [169]:
html = feature.html
soup = BeautifulSoup(html, "html.parser")
headlines = soup.select_one('ul.item_list li.slide')

In [170]:
headlines.find("div", class_='content_title')

In [171]:
news_title = headlines.find("div", class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Is Midway to Mars "

In [172]:
article_teaser = headlines.find("div", class_='article_teaser_body').get_text()
article_teaser

"Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination."

#Mars Hemispheres

In [173]:
url3 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&kl-targets&v1=mars'
feature.visit(url3)

In [ ]:
html = feature.html
soup = BeautifulSoup(html, "html.parser")

In [174]:
time.sleep(1)

In [176]:
#cerberus_hemisphere = feature.find_by_id('product-selection') 
#cerberus_hemisphere = soup.find('id', class_='product-section')
links_found = feature.links.find_by_partial_href('/search/map/Mars/Viking/')
#cerberus_hemisphere = feature.find_by_id('product-section')
#cerberus_hemisphere = soup.find_all("div", class_="product-content")
#cerberus_hemisphere.click()
print(links_found)

<splinter.element_list.ElementList object at 0x0000021835B6B208>

In [136]:
hemispheres = soup.find_all('h3')
for hemisphere in hemispheres:
    print(hemisphere.text)

Mars 2020 Perseverance Rover
Curiosity Rover
InSight Lander
MAVEN
Mars Reconnaissance Orbiter
2001 Mars Odyssey
NASA's Perseverance Rover Is Midway to Mars
Sensors on Mars 2020 Spacecraft Answer Long-Distance Call From Earth
NASA's Perseverance Rover Bringing 3D-Printed Metal Parts to Mars
NASA InSight's 'Mole' Is Out of Sight
NASA's Perseverance Rover Will Peer Beneath Mars' Surface
AI Is Helping Scientists Discover Fresh Craters on Mars
NASA's New Mars Rover Is Ready for Space Lasers
NASA's New Mars Rover Will Use X-Rays to Hunt Fossils
My Culture, My Voice
NASA Readies Perseverance Mars Rover's Earthly Twin
NASA Engineers Checking InSight's Weather Sensors
Follow NASA's Perseverance Rover in Real Time on Its Way to Mars
NASA Establishes Board to Initially Review Mars Sample Return Plans
NASA's Ingenuity Mars Helicopter Recharges Its Batteries in Flight
Celebrate Mars Reconnaissance Orbiter's Views From Above
NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light
8 Martian Postcards to Celebrate Curiosity's Landing Anniversary
NASA, ULA Launch Mars 2020 Perseverance Rover Mission to Red Planet
NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars
A New Video Captures the Science of NASA's Perseverance Mars Rover
NASA Invites Public to Share Excitement of Mars 2020 Perseverance Rover Launch
NASA's Mars Perseverance Rover Passes Flight Readiness Review
NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities
6 Things to Know About NASA's Ingenuity Mars Helicopter
Join NASA for the Launch of the Mars 2020 Perseverance Rover
NASA's Perseverance Rover Attached to Atlas V Rocket
7 Things to Know About the Mars 2020 Perseverance Rover Mission
NASA's InSight Flexes Its Arm While Its 'Mole' Hits Pause
Curiosity Mars Rover's Summer Road Trip Has Begun
How NASA's Mars Helicopter Will Reach the Red Planet's Surface
The Launch Is Approaching for NASA's Next Mars Rover, Perseverance
NASA to Hold Mars 2020 Perseverance Rover Launch Briefing
While Stargazing on Mars, NASA's Curiosity Rover Spots Earth and Venus
NASA's Mars Rover Drivers Need Your Help
Three New Views of Mars' Moon Phobos
The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
The Detective Aboard NASA's Perseverance Rover
MAVEN Maps Electric Currents around Mars that are Fundamental to Atmospheric Loss
Air Deliveries Bring NASA's Perseverance Mars Rover Closer to Launch
NASA Wins 4 Webbys, 4 People's Voice Awards

The Red Planet


The Program


News & Events


Multimedia


Missions


More